<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.body %></td>
        <td><%= link_to 'Show', document_question_path(id: question.id) %></td>
        <td><%= link_to 'Edit', edit_document_question_path(id: question.id) %></td>
        <td><%= link_to 'Destroy', document_question_path(@document, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_document_question_path(@document) %> |
<%= link_to 'Back', documents_path %>
